#app {
    width: 100%;
    height: 100%;
    position: relative;
}

#textbox{
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: none;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
}

@font-face {
    font-family: monogram;
    src: url(monogram.ttf)
}

body {
    font-family: monogram, monospace;
    font-size: 2rem;
    overflow: hidden;
}

.ui-text {
    margin: 0;
    user-select: none;
}

.note {
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;
}

